.wrath-header {
    background-color: purple;
    width: 99.5%;
    border: 5px solid black;
    border-radius: 50px;
}

.wrath-text-area {
    background-color: silver;
    border: 1px solid gold;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 6px purple;
}