.wrath-header {
    background-color: purple;
    color: purple;
    width: 99.5%;
    border: 5px solid black;
    border-radius: 50px;
}

.wrath-text-area {
    background-color: purple;
    border: 1px solid gold;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 6px purple;
}

.nav {
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
    width:100%;
  }
  
  .nav li {
    display: inline-block;
    font-size: 20px;
    background-color: silver;
    border: 1px solid gold;
    border-radius: 20px;
    width: 19%;
  }