.wrath-body {
    background-color: purple;
    width: 100%;
    border: 5px solid black;
    border-radius: 50px;
}

.wrath-text-area {
    background-color: silver;
    border-radius: 20px;
    width: 100%;
    text-align: center;
}