.wrath-text-area {
    background-color: silver;
    border: 1px solid gold;
    border-radius: 20px;
    width: 100%;
    text-align: center;
}

.nav {
    list-style-type: none;
    text-align: center; 
    padding: 0;
}

.nav knight {
    margin: 25px;
    display: inline-flex;
    font-size: 20px;
    background-color: purple;
    border: 5px solid gold;
    border-radius: 20px;
    width: 300px;
    height: 500px;
}