.nav {
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
    width:100%;
  }
  
  .nav li {
    display: inline-block;
    font-size: 20px;
    background-color: silver;
    border: 10px double black;
    border-radius: 20px;
    width: 18%;
  }